<div [class]="borderClass()">
    <div>
        <input type="radio" id="human {{ formID() }}" [name]="formID()"
            (change)="setValue(PlayerTypes.Human)" [checked]="choice() == PlayerTypes.Human"
            [disabled]="disable()" >
        <label for="human {{ formID() }}" [class]="hc()" >Human</label>
    </div>
    <div>
        <input type="radio" id="ai {{ formID() }}"    [name]="formID()"
            (change)="setValue(PlayerTypes.AI)"    [checked]="choice() == PlayerTypes.AI"
            [disabled]="disable()" >
        <label for="ai {{ formID() }}" [class]="aic()" >AI</label>
    </div>
    <div>
        <input type="radio" id="none {{ formID() }}"  [name]="formID()"
            (change)="setValue(PlayerTypes.None)"  [checked]="choice() == PlayerTypes.None"
            [disabled]="disable()" >
        <label for="none {{ formID() }}" [class]="nc()" >None</label>
    </div>
</div>
