div {
    font-size: 0;
}

div.cStyle {
    border: 3px solid var(--colorC);
}

div.bStyle {
    border: 3px solid var(--colorB);
}

div.inactive {
    border: 3px solid var(--inactiveColor);
}

input {
    width:  0px;
    height: 0px;
    opacity: 0;
    margin: 0;
}

label {
    display: block;
    padding: 9px;

    width: 74px;
    background-color: var(--inputBackground);
    font-size: 18px;
}

label.cStyle {
    color: var(--colorC);
}

label.inactive {
    color: var(--inactiveColor);
}

label.bStyle {
    color: var(--colorB);
    cursor: pointer;
    &:hover {
        background-color: var(--inputHoverBackground);
    }
}
