button {
    font-size: 24px;
    padding: 12px;
    border-radius: 6px;

    background-color: #111111;
    color: #3a7f02;
    border: 3px solid #3a7f02;

    &:hover {
        background-color: #000000;
        color: #4a7d21;
        border: 3px solid #4a7d21;
        cursor: pointer;
    }

    &:disabled {
        background-color: #111111;
        color: #555555;
        border: 3px solid #555555;

        &:hover {
            cursor: default;
        }
    }
}
