button {
    font-size: 18px;
    padding: 9px;
    border-radius: 4.5px;

    &.small {
        font-size: 14px;
        padding: 7px;
        border-radius: 3.5px;
    }

    max-width: 100%;
    word-wrap: break-word;

    background-color: var(--inputBackground);
    color: var(--colorC);
    border: 3px solid var(--colorC);

    &:hover {
        background-color: var(--inputHoverBackground);
        color: var(--lightColorC);
        border: 3px solid var(--lightColorC);
        cursor: pointer;
    }

    &.bStyle {
        color: var(--colorB);
        border: 3px solid var(--colorB);
        &:hover {
            color: var(--lightColorB);
            border: 3px solid var(--lightColorB);
        }

        &:disabled {
            background-color: var(--inputBackground);
            color: var(--inactiveColor);
            border: 3px solid var(--inactiveColor);
        }
    }

    &:disabled {
        background-color: var(--inputBackground);
        color: var(--inactiveColor);
        border: 3px solid var(--inactiveColor);

        &:hover {
            cursor: default;
        }
    }
}
