button {
    font-size: 24px;
    padding: 12px;
    border-radius: 6px;

    &.small {
        font-size: 18px;
        padding: 9px;
        border-radius: 4.5px;
    }

    max-width: 100%;
    word-wrap: break-word;

    background-color: var(--inputBackground);
    color: var(--green);
    border: 3px solid var(--green);

    &:hover {
        background-color: var(--inputHoverBackground);
        color: var(--lightGreen);
        border: 3px solid var(--lightGreen);
        cursor: pointer;
    }

    &.blue {
        color: var(--blue);
        border: 3px solid var(--blue);
        &:hover {
            color: var(--lightBlue);
            border: 3px solid var(--lightBlue);
        }

        &:disabled {
            background-color: var(--inputBackground);
            color: var(--inactiveGray);
            border: 3px solid var(--inactiveGray);
        }
    }

    &:disabled {
        background-color: var(--inputBackground);
        color: var(--inactiveGray);
        border: 3px solid var(--inactiveGray);

        &:hover {
            cursor: default;
        }
    }
}
