div {
    width: 132px;
    border: 3px solid var(--blue);
}

div.dead {
    border-color: var(--inactiveGray);
}

button {
    font-size: 18px;
    font-family: "Arial";
    padding: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 0px;
    text-align: center;

    width: 36px;

    background-color: var(--inputBackground);
    border: none;
    color: var(--blue);

    cursor: pointer;

    &:hover {
        background-color: var(--inputHoverBackground);
    }
}

button.dead {
    color: var(--inactiveGray);
    cursor: default;
    &:hover {
        background-color: var(--inputBackground);
    }
}

input {
    font-size: 18px;
    font-family: "Arial";
    padding: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;

    width: 54px;

    background-color: var(--inputBackground);
    border: 3px solid var(--blue);
    border-top: none;
    border-bottom: none;
    color: var(--blue);

    -moz-appearance: textfield; /* Remove arrows in Firefox */

    &:focus {
        outline: none;
        background-color: var(--inputHoverBackground);
    }

    &:hover {
        background-color: var(--inputHoverBackground);
    }
}

input.dead {
    color: var(--inactiveGray);
    border-color: var(--inactiveGray);
    &:hover {
        background-color: var(--inputBackground);
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
