/*************** Colors ***************/

.dark-theme {
    --colorA: #a0800c;
    --lightColorA: #af8f1b;

    --colorB: #06b0a2;
    --lightColorB: #1bd4c5;

    --colorC: #3a7f02;
    --lightColorC: #4a7d21;

    --colorD: #582b90;
    --colorE: #bb3a12;
    --colorF: #555555;

    --inactiveColor: #555555;
    --inputHoverBackground: #000000;

    --inputBackground: #111111;
    --inputBackgroundRed: 17;   // #11 is equal to 17
    --inputBackgroundGreen: 17;
    --inputBackgroundBlue: 17;

    --centerBackdrop: #2f2f2f;

    --siteBackground: #202020;
    --gameBorder: var(--siteBackground);

    --textColor: #e0e0e0;
}

.light-theme {

    --colorA: #c34904; // Reddish orange
    --lightColorA: #aa4005;

    --colorB: #001c7d; // Navy blue
    --lightColorB: #001768;

    --colorC: #105903; // Dark green
    --lightColorC: #146b04;

    --colorD: #770092; // Purple
    // --lightColorD: #66007d;

    --colorE: #83680a; // Yellow-gold
    // --lightColorE: #a3810c;

    --colorF: #444444; // Gray

    --inactiveColor: #555555;

    --inputBackground: #bbbbbb;
    --inputBackgroundRed: 187;   // #bb is equal to 187
    --inputBackgroundGreen: 187;
    --inputBackgroundBlue: 187;

    --inputHoverBackground: #aaaaaa;

    --centerBackdrop: #999999;

    --siteBackground: #cccccc;
    --gameBorder: var(--siteBackground);

    --textColor: #000000;
}

.colorA {
    background-color: var(--colorA);
}
.colorB {
    background-color: var(--colorB);
}
.colorC {
    background-color: var(--colorC);
}
.colorD {
    background-color: var(--colorD);
}
.colorE {
    background-color: var(--colorE);
}
.colorF {
    background-color: var(--colorF);
}

/*************** Full-site Styling  ***************/
html, body {
    height: 100%; // These are needed to enable the full-page div's use of 'height: 100%;'
    width:  100%;
}

body {
    font-family: Helvetica;
    font-size:   18px;
}

.full-page {
    width:  100%;
    height: 100%;

    background-color: var(--siteBackground);
    color: var(--textColor);
}
