<div class="full-page">

    <div class="side-menu">
        <app-nav-button [target]='"/"' [text]='"Home"' />
    </div>

    <div class="main">
    <div class="horizontally-centered-main">
    <div class="main-vertical-color-strip">
    <div class="spaced-column padded">
        @for (game of games() | sorted : getGameName ; track $index; let i = $index) {
        <div class="middle-aligned-row">
            <span>{{ game.name }}</span>
            <span>Password:</span>
            <app-text-box [maxLength]="10" [(text)]="typed[i]" />
            <app-action-button [text]="'Join'" (click)="joinGame(i)" />
        </div>
        }
        @empty {
            [ No games at present... Host one so there is! ]
        }
    </div>
    </div>
    </div>
    </div>
</div>
