<div class="side-menu">
    <app-nav-button [target]='"/"' [text]='"Home"' />
</div>

<div class="main">
    <div class="horizontally-centered-main">
    <div class="main-vertical-color-strip">
    <div class="vertically-centered-main">
        @for (game of games; track $index; let i = $index) {
        <div class="listing">
            <span class="game-name">{{ game.name }}</span>
            <span>Password:</span>
            <app-text-box [maxLength]="10" [(text)]="typed[i]" class="password" />
            <app-action-button [text]="'Join'" (click)="joinGame(i)" />
        </div>
        }
        @empty {
            [ No games at present... Host one so there is! ]
        }
    </div>
    </div>
    </div>
</div>
