<app-nav-button [target]='"/"' [text]='"Home"' />

<div class="bigRowSpacer"></div>
<div>
    <app-action-button [blue]="true" [small]="true" [text]="'Reset Presets'" (click)="resetConfigs()" />
</div>
<div class="smallRowSpacer"></div>
<div *ngFor="let gameSpec of specs | keyvalue" class="preset">
    <app-action-button [small]="true" [text]="gameSpec.key" (click)="loadConfig(gameSpec.key)" />
    <div class="tinyRowSpacer"></div>
</div>

<div class="main">
    <div class="inputRow">
        <div class="inputRowItem">
        <span class="label">Width</span>
        <app-integer-input [(value)]="width" [min]="3" [max]="19"
                [disable]="false" />
        </div>
        <div class="inputRowItem">
        <span class="label">Height</span>
        <app-integer-input [(value)]="height" [min]="3" [max]="19" [disable]="false" />
        </div>

        <div class="inputRowItem">
        <span class="label">Winning Line Size</span>
        <app-integer-input [(value)]="winningLength" [max]="boardMin()" [disable]="false" />
        </div>
    </div>
    <div class="bigRowSpacer"></div>
    <div class="inputRow">
        <div class="inputRowItem">
        <span class="label">Gravity</span>
        <app-toggle-switch [defaultValue]="false" [(value)]="gravity" />
        </div>

        <div class="inputRowItem">
        <span class="label">Allow Captures</span>
        <app-toggle-switch [defaultValue]="false" [(value)]="allowCaptures" />
        </div>

        <div class="inputRowItem">
        <span class="label">Win by Captures</span>
        <app-toggle-switch [defaultValue]="false" [(value)]="winByCaptures" 
                [disable]="!allowCaptures()" />
        </div>
    </div>
    <div class="smallRowSpacer"></div>
    <div class="inputRow">
        <div class="inputRowItem"></div>

        <div class="inputRowItem">
        <span class="label">Capture Size</span>
        <app-integer-input [(value)]="captureSize" [max]="boardMin() - 2"
                [disable]="!allowCaptures()" />
        </div>

        <div class="inputRowItem">
        <span class="label">Winning # Captures</span>
        <app-integer-input [(value)]="winningNumCaptures" [max]="7" [disable]="!winByCaptures()" />
        </div>
    </div>
    <div class="bigRowSpacer"></div>
    <div>
        <span class="label">Preset Name</span>
        <app-text-box [(text)]="configName" [maxLength]="17" class="label" />
        <app-action-button [blue]="true" [text]="'Save Config as Preset'"
                [disable]="configName().trim() == ''"
                (click)="saveConfigAsPreset()" />
    </div>
    <div class="bigRowSpacer"></div>
    <div class="playerTypeSelectors">
        <div></div> <!-- I am not sure yet why this is necessary -->
        <app-player-type-selector [(choice)]="playerTypes[0]" [formID]="'0'" 
                    [disable]="ptDisabled[0]()" />
        <app-player-type-selector [(choice)]="playerTypes[1]" [formID]="'1'" 
                    [disable]="ptDisabled[1]()" />
        <app-player-type-selector [(choice)]="playerTypes[2]" [formID]="'2'" 
                    [disable]="ptDisabled[2]()" />
        <app-player-type-selector [(choice)]="playerTypes[3]" [formID]="'3'" 
                    [disable]="ptDisabled[3]()" />
        <app-player-type-selector [(choice)]="playerTypes[4]" [formID]="'4'" 
                    [disable]="ptDisabled[4]()" />
        <app-player-type-selector [(choice)]="playerTypes[5]" [formID]="'5'" 
                    [disable]="ptDisabled[5]()" />
    </div>

    <div class="bigRowSpacer"></div>
    <div>
        <span class="label">Game Name</span>
        <app-text-box [(text)]="gameName" [maxLength]="13" class="label" />
        <span class="label">Password</span>
        <app-text-box [(text)]="password" [maxLength]="10" class="label" />
    </div>
    <div class="bigRowSpacer"></div>
    <div>
        <app-action-button [text]="'Launch Game'"
                [disable]="gameName().trim() == '' || playerTypes[1]() == PlayerTypes.None" />
    </div>
</div>
