<div class="menu">
    <app-nav-button [target]='"/"' [text]='"Home"' />

    <div class="bigRowSpacer"></div>
    <div>
        <app-action-button [blue]="true" [small]="true" [text]="'Reset Presets'" (click)="resetConfigs()" />
    </div>
    <div class="smallRowSpacer"></div>
    <div *ngFor="let gameSpec of specs | keyvalue" class="preset">
        <app-action-button [small]="true" [text]="gameSpec.key" (click)="loadConfig(gameSpec.key)" />
        <div class="tinyRowSpacer"></div>
    </div>
</div>

<div class="main">
    <div class="inputRow">
        <div class="inputRowItem">
        <span class="label">Width</span>
        <app-integer-input [(value)]="gameSpec.board.width"  [min]="3" [max]="19"
                [disable]="false" />
        </div>
        <div class="inputRowItem">
        <span class="label">Height</span>
        <app-integer-input [(value)]="gameSpec.board.height" [min]="3"
                [max]="gameSpec.board.width" [disable]="false" />
        </div>

        <div class="inputRowItem">
        <span class="label">Winning Line Size</span>
        <app-integer-input [(value)]="gameSpec.rules.winningLength" [min]="3"
                [max]="gameSpec.board.height" [disable]="false" />
        </div>
    </div>
    <div class="bigRowSpacer"></div>
    <div class="inputRow">
        <div class="inputRowItem">
        <span class="label">Gravity</span>
        <app-toggle-switch [defaultValue]="false" [(value)]="gameSpec.board.gravity" 
                           [disable]="gameSpec.rules.allowCaptures" />
        </div>

        <div class="inputRowItem">
        <span class="label">Allow Captures</span>
        <app-toggle-switch [defaultValue]="false" [(value)]="gameSpec.rules.allowCaptures"
                           [disable]="gameSpec.board.gravity" />
        </div>

        <div class="inputRowItem">
        <span class="label">Win by Captures</span>
        <app-toggle-switch [defaultValue]="false" [(value)]="gameSpec.rules.winByCaptures"
                [disable]="!gameSpec.rules.allowCaptures" />
        </div>
    </div>
    <div class="smallRowSpacer"></div>
    <div class="inputRow">
        <div class="inputRowItem"></div>

        <div class="inputRowItem">
        <span class="label">Capture Size</span>
        <app-integer-input [(value)]="gameSpec.rules.captureSize" [max]="gameSpec.board.height - 2"
                [disable]="!gameSpec.rules.allowCaptures" />
        </div>

        <div class="inputRowItem">
        <span class="label">Winning # Captures</span>
        <app-integer-input [(value)]="gameSpec.rules.winningNumCaptures" [max]="7"
                [disable]="!gameSpec.rules.winByCaptures" />
        </div>
    </div>
    <div class="bigRowSpacer"></div>
    <div>
        <span class="label">Preset Name</span>
        <app-text-box [(text)]="configName" [maxLength]="17" class="label" />
        <app-action-button [blue]="true" [text]="'Save Config as Preset'"
                [disable]="configName().trim() == ''"
                (click)="saveConfigAsPreset()" />
    </div>
    <div class="smallRowSpacer"></div>
    <div style="height: 2px; width: 100%; background-color: #ffffff;"></div>
    <div class="smallRowSpacer"></div>
    <div class="playerTypeSelectors">
        <div></div> <!-- I am not sure yet why this is necessary -->
        <app-player-type-selector [(choice)]="playerTypes[0]" [formID]="'0'" 
                    [disable]="ptDisabled[0]()" />
        <app-player-type-selector [(choice)]="playerTypes[1]" [formID]="'1'" 
                    [disable]="ptDisabled[1]()" />
        <app-player-type-selector [(choice)]="playerTypes[2]" [formID]="'2'" 
                    [disable]="ptDisabled[2]()" />
        <app-player-type-selector [(choice)]="playerTypes[3]" [formID]="'3'" 
                    [disable]="ptDisabled[3]()" />
        <app-player-type-selector [(choice)]="playerTypes[4]" [formID]="'4'" 
                    [disable]="ptDisabled[4]()" />
        <app-player-type-selector [(choice)]="playerTypes[5]" [formID]="'5'" 
                    [disable]="ptDisabled[5]()" />
        <span>
        <!--
        <div class="aiTime">
            <div>AI Compute Time</div>
            <div class="tinyRowSpacer"></div>
            <app-integer-input [min]="1" [max]="20" [(value)]="aiComputeTime" 
                [disable]="playerTypes[0]() != PlayerTypes.AI && 
                           playerTypes[1]() != PlayerTypes.AI &&
                           playerTypes[2]() != PlayerTypes.AI &&
                           playerTypes[3]() != PlayerTypes.AI &&
                           playerTypes[4]() != PlayerTypes.AI &&
                           playerTypes[5]() != PlayerTypes.AI" />
        </div> -->
        </span>
    </div>

    <!--
    <div class="bigRowSpacer"></div>
    <div>
        <span class="label">Game Name</span>
        <app-text-box [(text)]="gameName" [maxLength]="13" class="label" />
        <span class="label">Password</span>
        <app-text-box [(text)]="password" [maxLength]="10" class="label" />
    </div>
    -->
    <div class="bigRowSpacer"></div>
    <div>
        <app-action-button [text]="'Launch Game'"
                [disable]="gameName().trim() == '' || playerTypes[1]() == PlayerTypes.None"
                (click)="hostGame()" />
    </div>
</div>
