button {
    font-size: 36px;
    padding: 18px;
    border-radius: 9px;
    text-align: center;
    background-color: var(--inputBackground);
}

button.live {
    color: var(--yellow);
    border: 5px solid var(--yellow);

    &:hover {
        background-color: var(--inputHoverBackground);
        border: 5px solid var(--lightYellow);
        color:  var(--lightYellow);
        cursor: pointer;
    }
}

button.dead {
    color: var(--inactiveGray);
    border: 5px solid var(--inactiveGray);
}
