button {
    font-size: 36px;
    padding: 18px;
    border-radius: 9px;
    text-align: center;
    background-color: #111111;
}

button.live {
    color: #a0800c;
    border: 5px solid #a0800c;

    &:hover {
        background-color: #000000;
        border: 5px solid #b0901c;
        color:  #af8f1b;
        cursor: pointer;
    }
}

button.dead {
    color: #555555;
    border: 5px solid #555555;
}
