.help {
    display: inline-block;
}

.q-mark {
    width:  var(--font-size);
    height: var(--font-size);
    border-radius: 50%;

    line-height: var(--font-size);

    text-align: center;
    vertical-align: middle;

    &~.popup {
        display: none;
    }

    &:hover {
        cursor: pointer;

        &~.popup {
            display: block;
            position: absolute;
            left: 50%;
            z-index: 3;
        }
    }
}

.popup {
}

.content {
    --padding: 12px;
    --border-width: 4px;
    --surround: calc(var(--padding) + var(--border-width));

    // If on the tiniest screen "possible", this will be the full width.
    width: calc(var(--main-min-width) - 2 * var(--surround));

    margin-top:  30px;    // This ensures the content appears below the q-mark

    &.above {
        margin-top: -60px;
        transform: translate(0, -100%);
    }

    // This centers the content on its origin point.
    //
    // The border is outside the object, whereas the padding is inside.
    margin-left: calc(-200px + var(--surround) + var(--border-width));

    text-align: center;

    font-size: 24px;
    padding: var(--padding);

    background-color: var(--center-backdrop);
    border: var(--border-width) solid var(--color-A);
    border-radius: 12px;
}
