canvas {
    width: 0px;
}

input {
    font-size: 24px;
    font-family: "Arial";
    padding: 12px;
    border-radius: 6px;

    text-align: left;

    background-color: var(--inputBackground);
    color: var(--colorB);
    border: 3px solid var(--colorB);

    &:focus {
        outline: none;
        color: var(--colorB);
        border: 3px solid var(--lightColorB);
    }
}
