.main-vertical-color-strip {
    background-color: transparent;
}

.the-content {
    // Enables the-buttons to be positioned relative to this container,
    //  including top: 50% referencing the size of this container.
    position: relative;
}

.the-buttons {
    position: absolute;
    // Move this up half the height of it's parent (.the-content), which
    //  turns out to be half the height of the dots
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);  // Move this up half it's own height

    display: flex;
    justify-content: center;
}

.dot-row {
    line-height: 0px;
}

.dot {
    display: inline-block;
    margin: 1px;
    border-radius: 50%;
}

nav {
    width: 80%;

    ul {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
}
