<div class="full-page">

    <div class="side-menu">
        <div class="spaced-column close">
            <span>Dark Mode</span>
            <app-toggle-switch [(value)]="darkMode" />
        </div>
    </div>

    <div class="main">
    <div class="horizontally-centered-main">
    <!-- Even though we don't want the color from color-strip, we want the spacing. -->
    <div class="main-vertical-color-strip">
        <div class="the-content">
            @for(row of funBackdrop(); track $index) {
                <div class="dot-row">
                @for(col of row; track $index) {
                    <span class="dot {{ col }}" style="{{ dotStyle() }}"></span>
                }
                </div>
            }
            <div class="the-buttons">
                <nav>
                <ul>
                    <!--
                    <li>
                        <app-nav-button [target]="'/join'" [text]="'Join'" [live]="false" />
                    </li>
                    -->
                    <li>
                        <app-nav-button [target]="'/host'"   [size]="buttonSize()" [pale]="true" [text]="'New Game'" />
                    </li>
                    <li>
                        <app-nav-button [target]="'/design'" [size]="buttonSize()" [pale]="true" [text]="'Custom Rules'" />
                    </li>
                    <li>
                        <app-nav-button [target]="'/play'"   [size]="buttonSize()" [pale]="true" [text]="'Resume Game'" [disable]="!setup.inGame()" />
                    </li>
                </ul>
                </nav>
            </div>
        </div>
    </div>
    </div>
    </div>

</div>
