<div class="darkMode">
    <span class="label">Dark Mode:</span>
    <app-toggle-switch [(value)]="darkMode" />
</div>

<div class="holder">
    <div class="backdrop">
        @for(row of funBackdrop(); track $index) {
        <div class="backdropRow">
            @for(col of row; track $index) {
                <span class="backdropItem {{ col }}"></span>
            }
        </div>
        }
    </div>
</div>
<div class="holder">
    <nav>
    <ul>
        <!--
        <li>
            <app-nav-button [target]="'/join'" [text]="'Join'" [live]="false" />
        </li>
        -->
        <li>
            <app-nav-button [target]="'/host'" [pale]="true" [text]="'Start Game'" />
        </li>
        <li>
            <app-nav-button [target]="'/design'" [pale]="true" [text]="'Design Custom Rules'" />
        </li>
        <li>
            <app-nav-button [target]="'/play'" [pale]="true" [text]="'Return to Game'" [live]="setup.inGame()" />
        </li>
    </ul>
    </nav>
</div>
