<div>
    <nav>
    <ul>
        <!--
        <li>
            <app-nav-button [target]="'/join'" [text]="'Join'" [live]="false" />
        </li>
        -->
        <li>
            <app-nav-button [target]="'/host'" [text]="'Start Game'" />
        </li>
        <li>
            <app-nav-button [target]="'/design'" [text]="'Design Custom Rules'" />
        </li>
        <li>
            <app-nav-button [target]="'/play'" [text]="'Return to Game'" [live]="setup.inGame()" />
        </li>
    </ul>
    </nav>
</div>
