label.slider {
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px;
}


input.slider {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

span.sliderBackdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    cursor: pointer;

    width: 46px;
    height: 26px;
    border-radius: 15px;
    border: 2px solid var(--blue);
    background-color: var(--inputBackground);
    transition: 0.5s;
}

span.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    cursor: pointer;

    width: 30px;
    height: 30px;
    background-color: var(--blue);
    transition: 0.5s;
    border-radius: 15px;
}

input:disabled ~ span.slider {
    background-color: var(--inactiveGray);
    cursor: default;
}

input:checked ~ span.sliderBackdrop {
    border: 2px solid var(--green);
}

input:checked ~ span.slider {
    background-color: var(--green);
    transform: translateX(20px);
}

span.sliderBackdrop:hover {
    background-color: var(--inputHoverBackground);
}

span.slider:hover ~ span.sliderBackdrop {
    background-color: var(--inputHoverBackground);
}

input:disabled ~ span.sliderBackdrop {
    border: 2px solid var(--inactiveGray);
    cursor: default;
}

input:disabled ~ span.sliderBackdrop:hover {
    background-color: var(--inputBackground);
}

input:disabled {
    & ~ span.slider:hover {
        & ~ span.sliderBackdrop {
            background-color: var(--inputBackground);
        }
    }
}

span.useSpace {
    display: block;
    width: 50px;
}
