label.slider {
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px;
}


input.slider {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

span.slider-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    cursor: pointer;

    width: 46px;
    height: 26px;
    border-radius: 15px;
    border: 2px solid var(--color-B);
    background-color: var(--input-background);
    transition: 0.5s;
}

span.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    cursor: pointer;

    width: 30px;
    height: 30px;
    background-color: var(--color-B);
    transition: 0.5s;
    border-radius: 15px;
}

input:disabled ~ span.slider {
    background-color: var(--inactive-color);
    cursor: default;
}

input:checked ~ span.slider-backdrop {
    border: 2px solid var(--color-C);
}

input:checked ~ span.slider {
    background-color: var(--color-C);
    transform: translateX(20px);
}

span.slider-backdrop:hover {
    background-color: var(--input-hover-background);
}

span.slider:hover ~ span.slider-backdrop {
    background-color: var(--input-hover-background);
}

input:disabled ~ span.slider-backdrop {
    border: 2px solid var(--inactive-color);
    cursor: default;
}

input:disabled ~ span.slider-backdrop:hover {
    background-color: var(--input-background);
}

input:disabled {
    & ~ span.slider:hover {
        & ~ span.sliderBackdrop {
            background-color: var(--input-background);
        }
    }
}

span.use-space {
    display: block;
    width: 50px;
}
