label.slider {
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px;
}


input.slider {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

span.sliderBackdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    cursor: pointer;

    width: 46px;
    height: 26px;
    border-radius: 15px;
    border: 2px solid #06b0a2;
    background-color: #111111;
    transition: 0.5s;
}

span.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    cursor: pointer;

    width: 30px;
    height: 30px;
    background-color: #06b0a2;
    transition: 0.5s;
    border-radius: 15px;
}

input:disabled ~ span.slider {
    background-color: #555555;
    cursor: default;
}

input:checked ~ span.sliderBackdrop {
    border: 2px solid #3a7f02;
}

input:checked ~ span.slider {
    background-color: #3a7f02;
    transform: translateX(20px);
}

span.sliderBackdrop:hover {
    background-color: #000000;
}

span.slider:hover ~ span.sliderBackdrop {
    background-color: #000000;
}

input:disabled ~ span.sliderBackdrop {
    border: 2px solid #555555;
    cursor: default;
}

input:disabled ~ span.sliderBackdrop:hover {
    background-color: #111111;
}

input:disabled {
    & ~ span.slider:hover {
        & ~ span.sliderBackdrop {
            background-color: #111111;
        }
    }
}

span.useSpace {
    display: block;
    width: 50px;
}
