<div class="full-page">

    <div class="side-menu">
        <app-nav-button [target]='"/"' [text]='"Quit"' />
    </div>

    <div class="main">
    <div class="horizontally-centered-main">
    <div class="main-vertical-color-strip">
    <div class="spaced-column padded">
        <h2>Your Claimed Seats</h2>
        <div class="middle-aligned-row wrap">
            @for(claimed of localHumanClaimed() ; track $index; let i = $index) {
                @if(claimed) {
                <div class="player-disc solid-{{ colors[i] }}">
                    <span class="seat-type"></span>
                </div>
                } @else if (empty()[i]) {
                <div class="player-disc empty">
                    <span class="seat-type">Open Seat</span>
                </div>
                } @else if (ai()[i]) {
                <div class="player-disc full">
                    <span class="seat-type">AI</span>
                </div>
                } @else {
                <div class="player-disc full">
                    <span class="seat-type">Other Human</span>
                </div>
                }
            }
        </div>
        <div class="middle-aligned-row wrap">
            <app-action-button [text]="'Request Another Seat'" (click)="requestSeat()" />
            <app-action-button [text]="'Go to Gameboard'" (click)="enterGame()" />
        </div>
    </div>
    </div>
    </div>
    </div>
</div>
