<div class="menu">
    <app-nav-button [target]='"/"' [text]='"Home"' />

    <div class="bigRowSpacer"></div>
    <div class="status">
        <span class="statusText">Winner:</span>
        @if(winner() != -1) {
            <span [class]="'winMarker color-' + colors[winner() + 1]"></span>
        } @else {
            <span class="statusText">None</span>
        }
    </div>
    <div>
        @for(numCaptures of captures(); track $index; let i = $index) {
        <div class="status">
            <span [class]="'captureMarker color-' + colors[i + 1]"></span><span class="statusText">Captures: {{ numCaptures }}</span>
        </div>
        }
    </div>
</div>

<div class="main">
    @for(col of transposedBoard(); track $index; let c = $index) {
    <div class="column {{ gravityStr() }}">
        @for(row of col; track $index; let r = $index) {
        <div class="row hoverable" (click)="selectSpot({row: r, col: c})">
            <span [class]="'piece color-' + colors[row + 1] +
                           ' hover-' + colors[isLegalMove({row: r, col: c}) ? currentPlayer() + 1 : 0]"></span>
        </div>
        }
    </div>
    } @empty {
        <p>[No Game]</p>
    }
</div>
